[submodule "01_languages/python/codes/EPIJudge"]
	path = 01_languages/python/codes/EPIJudge
	url = git@github.com:thomaswchang/EPIJudge.git
	branch = master
[submodule "01_languages/python/codes/fluent_python/example-code"]
	path = 01_languages/python/codes/fluent_python/example-code
	url = git@github.com:thomaswchang/example-code.git
	branch = master
[submodule "01_languages/python/codes/high_performance_python_2e"]
	path = 01_languages/python/codes/high_performance_python_2e
	url = git@github.com:thomaswchang/high_performance_python_2e.git
	branch = master
[submodule "01_languages/python/codes/python_devops_book"]
	path = 01_languages/python/codes/python_devops_book
	url = git@github.com:thomaswchang/python_devops_book.git
	branch = master
[submodule "02_ml/code/aws_data_science/oreilly_book"]
	path = 02_ml/tools_code/aws_data_science/oreilly_book
	url = git@github.com:thomaswchang/oreilly_book.git
	branch = master
[submodule "02_ml/code/transformers"]
	path = 02_ml/code/transformers
	url = git@github.com:thomaswchang/transformers.git
	branch = master
[submodule "02_ml/tools_code/gcloud_data_science/ml-design-patterns"]
	path = 02_ml/tools_code/gcloud_data_science/ml-design-patterns
	url = git@github.com:thomaswchang/ml-design-patterns.git
	branch = master
[submodule "02_ml/tools_code/d2l-en"]
	path = 02_ml/tools_code/d2l-en
	url = git@github.com:thomaswchang/d2l-en.git
	branch = master
[submodule "02_ml/techniques/foundations/udacity/MachineLearning"]
	path = 02_ml/techniques/foundations/udacity/MachineLearning
	url = https://github.com/thomaswchang/MachineLearning
	branch = master
[submodule "02_ml/tools_code/aws_data_science/oreilly_book"]
	path = 02_ml/tools_code/aws_data_science/oreilly_book
	url = https://github.com/thomaswchang/oreilly_book
	branch = master
[submodule "02_ml/tools_code/pytorch/pytorch"]
	path = 02_ml/tools_code/pytorch/pytorch
	url = https://github.com/pytorch/pytorch.git
	branch = master
[submodule "02_ml/tools_code/ray/ray"]
	path = 02_ml/tools_code/ray/ray
	url = https://github.com/ray-project/ray.git
	branch = master
[submodule "02_ml/tools_code/ray/tutorial"]
	path = 02_ml/tools_code/ray/tutorial
	url = https://github.com/ray-project/tutorial
	branch = master
[submodule "03_system/devops/code/python_devops_book"]
	path = 03_system/devops/code/python_devops_book
	url = git@github.com:thomaswchang/python_devops_book.git
	branch = master
[submodule "03_system/devops/docker/docker-compose/-b"]
	path = 03_system/devops/docker/docker-compose/-b
	url = https://github.com/venky8283/Docker.git
[submodule "03_system/devops/docker/docker-compose/Docker"]
	path = 03_system/devops/docker/docker-compose/Docker
	url = git@github.com:venky8283/Docker.git
	branch = master
